 <!-- Footer -->
    <footer class="main-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-30">
                    <div class="item abot">
                        <div class="logo mb-20">
                            <h2><a href="home">Crescendo</a><span>Special Delicacies</span></h2>
                        </div>
                        <p>Special Delicacies made by Crescendo for all occassions.</p>
                        <div class="social-icon"> <a href="home"><i class="ti-facebook"></i></a> <a href="home"><i class="ti-twitter"></i></a> <a href="home"><i class="ti-instagram"></i></a> <a href="home"><i class="ti-pinterest"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-2 offset-md-1 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Phone & Email</h6>
                        </div>
                        <p>+1234567890</p>
                        <p>recipes@crescendo.com</p>
                    </div>
                </div>
                <div class="col-md-2 offset-md-1 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Our Address</h6>
                        </div>
                        <p>Massadora, York New City</p>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="text-left">
                            <p>©Anthony Cacatian 2020, Crescendo Test. All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                            <p class="right"><a href="#">Terms & Conditions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>